
.logo {
  height: 32px;
  margin-top: 5px;
}

nav {
  text-align: center;
}

body {
  margin-top: 80px;
  background: whitesmoke;
}

table {
  width: 100%;
}

.right-text {
  text-align: right;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .page-body {
    margin-top: 200px;
  }
}